* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

.container {
  position: relative;
}

.hidden {
  display: none;
}

.logo {
  width: 30%;
  margin: 20px 30px;
  z-index: 99;
}

nav {
  justify-content: center;
  background-color: limegreen;
}

nav ul {
  display: none;
}

.hamburger {
  width: 7%;
  float: right;
  margin: 30px 35px;
  max-width: 45px;
  cursor: pointer;
}

.mobile-navbar {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 225px;
  z-index: 999;
  background-color: limegreen;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
}

.mobile-navbar li {
  width: 100%;
  list-style-type: none;
}

.mobile-navbar a {
  width: 100%;
  font-size: 18px;
  color: black;
  text-decoration: none;
  padding: 15px;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: block;
  text-align: start;
}

.mobile-navbar li :hover {
  color: white;
  background-color: black;
  text-decoration: none;
}

.mobile-navbar.active {
  display: block;
}

.close-burger {
  width: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 5px;
  margin-left: 160px;
  cursor: pointer;
}

#mobile-container {
  width: 100%;
}

#mob-container {
  width: 100%;
}

.image-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.des-img {
  width: 100%;
  height: auto;
}

#mobile-container .image-container {
  position: relative;
  padding-top: 0px;
  padding-left: 25px;
  padding-right: 25px;
}

#mobile-container .image-container a {
  font-size: 4vw;
}


#mobile-container .image-container .mob-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  width: 60%;
  height: 10%;
  border-radius: 55px;
  top: 83%;
  left: 50%;
  transform: translateX(-50%);
}

#mobile-container .image-container #btn-2:hover {
  color: yellow;
  background-color: black;
  cursor: pointer;
  transform: translateX(-50%) scale(1.1);
  top: 83%;
}

#mobile-container .image-container #btn-3:hover {
  color: orange;
  background-color: black;
  cursor: pointer;
  transform: translateX(-50%) scale(1.1);
  top: 83%;
}

#mobile-container .image-container #btn-4:hover {
  color: greenyellow;
  background-color: black;
  cursor: pointer;
  transform: translateX(-50%) scale(1.1);
  top: 83%;
}

#mobile-container .image-container #btn-5:hover {
  color: red;
  background-color: black;
  cursor: pointer;
  transform: translateX(-50%) scale(1.1);
  top: 83%;
}

#tablet-container, #desktop-container {
  display: none;
}

#desktop-container .image-container, #tablet-container .image-container {
  position: relative;
  display: inline-block;
  width: 25%;
}

#desktop-container .image-container img, #tablet-container .image-container img {
  width: 100%;
  height: auto;
  display: block;
}

#desktop-container .image-container .btn, #tablet-container .image-container .btn {
  display: none;
}

/* Lightbox styles */

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.lightbox.show-lightbox {
  display: flex;
}

.lightbox_close {
  position: relative;
  top: 205px;
  left: 88%;
  color: black;
  font-size: 3em;
  text-decoration: none;
  font-weight: bolder;
}

.lightbox_close:hover { 
  opacity: 1; color: limegreen; 
}

.lightbox article {
  margin-top: 150px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.lb_heading {
  font-family: 'Poetsen One', sans-serif;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.lb_text {
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 20px;
}

.lb_image {
  width: 100%;
  height: auto;
  position: relative;
}

/* turn the lightbox on using the :target pseudo selector */
.lightbox:target { display: block; }

/* Footer */

#foot-img {
  width: 30%;
  margin-left: 25px;
}

#foot-text {
  font-size: 10px;
  margin-right: 25px;
}

#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 175px;
  width: 100%;
}

/* Tablet Grid */
@media screen and (min-width: 768px) {
  .logo {
    position: relative;
    max-width: 225px;
    margin: 24px 40px;
  }

  nav ul {
    float: right;
    margin-right: 20px;
    display: block;
  }

  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 25px 15px;
  }

  nav ul li a {
    color: black;
    font-size: 20px;
    padding: 7px;
    border-radius: 3px;
    text-transform: uppercase;
  }

  nav ul li a:hover {
    color: white;
    background-color: black;
    padding: 10px;
    transition: 0.5s;
  }

  .mobile-navbar {
    display: none;
  }

  .mobile-navbar.active {
    display: none;
  }

  .hamburger {
    display: none;
  }

  #mobile-container {
    display: none;
  }

  #tablet-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  #tab-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-left: 45px;
    padding-right: 45px;
    position: relative;
    width: 100%;
  }

  .des-img {
    width: 25%;
    height: auto;
  }

  #btn-1 {
    display: none;
  }

  #btn-1:hover {
    display: none;
  }

  #tablet-container .image-container a {
    font-size: 1.3vw;
  }

  #tablet-container .image-container .btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    width: 70%;
    height: 12%;
    border-radius: 50px;
    top: 83%;
    left: 50%;
    transform: translateX(-50%);
  }

  #tablet-container .image-container #btn-2:hover {
    color: yellow;
    background-color: black;
    cursor: pointer;
    transform: translateX(-50%) scale(1.1);
    top: 83%;
  }

  #tablet-container .image-container #btn-3:hover {
    color: orange;
    background-color: black;
    cursor: pointer;
    transform: translateX(-50%) scale(1.1);
    top: 83%;
  }

  #tablet-container .image-container #btn-4:hover {
    color: greenyellow;
    background-color: black;
    cursor: pointer;
    transform: translateX(-50%) scale(1.1);
    top: 83%;
  }

  #tablet-container .image-container #btn-5:hover {
    color: red;
    background-color: black;
    cursor: pointer;
    transform: translateX(-50%) scale(1.1);
    top: 83%;
  }

  .lightbox {
    justify-content: center;
    align-items: center;
  }
  
  .lightbox_close {
    position: relative;
    top: 250px;
    color: black;
    font-size: 3em;
    text-decoration: none;
    font-weight: bolder;
    z-index: 999;
  }
  
  .lightbox_close:hover { 
    opacity: 1; color: limegreen; 
  }

  .lightbox article {
    position: relative;
    top: 200px;
    max-width: 768px; /* Set maximum width for the article */
    width: 100%; /* Ensure the article takes full width within max-width */
    margin: 0 auto; /* Center horizontally */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }

  .lb_heading {
    font-family: 'Poetsen One', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 10px;
  }

  .lb_text {
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 20px;
  }

  .lb_image {
    max-width: 100%; /* Ensure image does not exceed its container */
    height: auto;
    position: relative;
  }

  #foot-img {
    max-width: 225px;
    margin-left: 25px;
  }

  #foot-text {
    font-size: 11px;
    margin-right: 25px;
  }

 #footer {
  position: relative;
  top: 325px;
  left: 0;
  width: 100%;
  height: 175px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
}

/* Desktop Grid */
@media screen and (min-width: 1200px) {
  .logo {
    position: relative;
    width: 225px;
    left: -125px;
  }

  nav ul {
    margin-top: -15px;
  }

  nav ul li a {
    color: black;
    font-size: 24px;
    padding: 7px;
    border-radius: 3px;
    text-transform: uppercase;
  }

  .main-menu {
    position: relative;
    right: -125px;
  }

  #nav-menu {
    background-color: limegreen;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px;
  }

  #tablet-container, #tab-container {
    display: none;
  } 

  #desktop-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    max-width: 100%;
  }

  #des-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-left: 75px;
    padding-right: 75px;
    position: relative;
    width: 1400px;
  }

  .des-img {
    width: 25%;
    height: auto;
  }

  #btn-1 {
    display: none;
  }

  #btn-1:hover {
    display: none;
  }

  #desktop-container .image-container .btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    width: 70%;
    height: 12%;
    border-radius: 50px;
    top: 83%;
    left: 50%;
    transform: translateX(-50%);
  }

  #desktop-container .image-container #btn-2:hover {
    color: yellow;
    background-color: black;
    cursor: pointer;
    transform: translateX(-50%) scale(1.1);
    top: 83%;
  }

  #desktop-container .image-container #btn-3:hover {
    color: orange;
    background-color: black;
    cursor: pointer;
    transform: translateX(-50%) scale(1.1);
    top: 83%;
  }

  #desktop-container .image-container #btn-4:hover {
    color: greenyellow;
    background-color: black;
    cursor: pointer;
    transform: translateX(-50%) scale(1.1);
    top: 83%;
  }

  #desktop-container .image-container #btn-5:hover {
    color: red;
    background-color: black;
    cursor: pointer;
    transform: translateX(-50%) scale(1.1);
    top: 83%;
  }

  #foot-img {
    width: 30%;
    margin-left: 50px;
  }

  #foot-text {
    font-size: 14px;
    margin-right: 50px;
  }

  #footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 175px;
  }
}